{% extends "nav.html" %} {% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
{% endblock %} {% block main_page %}

<div id="main_container">
  <h1 id="heading_text">Street Bazaar</h1>

  <!-- Category Cards -->
  <div class="box_container_category">

    <div class="card_collector">
      <img
        src="{{ url_for('static', filename='IMG/inventory.png') }}"
        alt="Inventory"
        class="home_page_image_class"
      />
      <button class="categgory_images">
        <span class="categgory_text">Inventory</span>
      </button>
    </div>

    <div class="card_collector">
      <img
        src="{{ url_for('static', filename='IMG/invoice.png') }}"
        alt="Invoice"
        class="home_page_image_class"
      />
      <button class="categgory_images">
        <span class="categgory_text">Invoice</span>
      </button>
    </div>

    <div class="card_collector">
      <img
        src="{{ url_for('static', filename='IMG/marketplace.png') }}"
        alt="Marketplace"
        class="home_page_image_class"
      />
      <button class="categgory_images">
        <span class="categgory_text">Marketplace</span>
      </button>
    </div>

  </div>

  <!-- Employees Section -->
  <div class="box_container_employees">

    <div class="employees_header">
      <h2 class="employees_section_title">Employees</h2>
      <button class="add_sign_Btn" aria-label="Add employee">
        <div class="add_profile_sign">+</div>
      </button>
    </div>

    <div class="profile_emp_card">
      <div class="card-employee">
        <div class="user-picture">
          <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
            <path d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"></path>
          </svg>
        </div>
        <p class="name-employee">
          Mr Tux
          <span>Jack of all trades</span>
        </p>
      </div>
    </div>

  </div>
</div>

{% endblock %}