<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/signup_man.css') }}"
    />
  </head>
  <body>
    <div class="page-wrapper">
      <!-- Left Section -->
      <div class="left-section">
        <div class="login-container">
          <div class="form-header">
            <h1>Welcome</h1>
          </div>

          <form action="">
            <div class="login-form">
              <div class="input-group">
                <input type="text" name="name" placeholder="Name" />
              </div>

              <div class="input-group">
                <input type="number" name="age" placeholder="Age" />
              </div>

              <div class="input-group">
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Email address"
                  autocomplete="email"
                  required
                />
              </div>

              <div class="input-group">
                <input
                  type="password"
                  id="password"
                  name="password"
                  placeholder="Password"
                  autocomplete="current-password"
                  required
                />
              </div>

              <button type="submit" class="login-btn">Sign up</button>

              <div class="signup-link">
                <a href="#" id="signupRedirectLink">
                  Already login? Click me!
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Right Section -->
      <div class="right-section">
        <div class="image_container">
          <img
            style="
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 0px;
              border-top-right-radius: 0px;
            "
            id="login_page_image"
            src="{{ url_for('static', filename='IMG/man_using_phone.png') }}"
            alt="Signup image"
          />
        </div>
      </div>
    </div>
  </body>
</html>
